<aside>
	<div class="panel radius">
		<h3>Contents</h3>
		<p>
			<ol>
				<li>History of World Cup Ball</li>
				<li>Annual Ball of the World Cup</li>
				<ul>	 
					<li>1970년 멕시코 월드컵 "텔스타(Telstar)"</li>
					<li>1974년 서독 월드컵 "칠레(Chile)"</li>
					<li>1978년 아르헨티나 월드컵 "탱고(Tango)"</li>
					<li>1982년 스페인 월드컵 "에스파냐(España)"</li>
					<li>1986년 멕시코 월드컵 "아스테카(Azteca)"</li>
					<li>1990년 이탈리아 월드컵 "에트루스코 유니코(Etrusco Unico)"</li>
					<li>1994년 미국 월드컵 "퀘스트라(Questra)"</li>
					<li>1998년 프랑스 월드컵 "트리콜로(Tricolore)"</li>
					<li>2002년 한/일 월드컵 "피버노바(Fevernova)"</li>
					<li>2006년 독일 월드컵 "팀가이스트(Teamgeist)"</li>
					<li>2010년 남아공 월드컵 "자블라니(Jabulani)"</li>
					<li>2014년 브라질 월드컵 "브라주카(brazuca)"</li>
				</ul>	
			</ol>
		</p>
	</div>
</aside>
