<aside>
	<div class="panel radius">
		<h3>Contents</h3>
		<p>
			<ol>
				<li>History of World Cup Ball</li>
				<li>Annual Ball of the World Cup</li>
				<ul>	 
					<li>제 1회 우루과이 월드컵</li>
					<li>제 2회 이탈리아 월드컵</li>
					<li>제 3회 프랑스 월드컵</li>
					<li> 제 4회 브라질 월드컵</li>
					<li> 제 5회 스위스 월드컵</li>
					<li> 제 6회 스웨덴 월드컵</li>
					<li> 제 7회 칠레 월드컵</li>
					<li> 제 8회 잉글랜드 월드컵</li>
					<li> 제 9회 멕시코 월드컵</li>
					<li> 제 10회 서독 월드컵</li>
					<li> 제 11회 아르헨티나 월드컵</li>
					<li> 제 12회 스페인 월드컵</li>
					<li> 제 13회 멕시코 월드컵</li>
					<li> 제 14회 이탈리아 월드컵</li>
					<li> 제 15회 미국 월드컵</li>
					<li> 제 16회 프랑스 월드컵</li>
					<li> 제 17회 한일 월드컵</li>
					<li> 제 18회 독일 월드컵</li>
					<li> 제 19회 남아공 월드컵</li>
					<li> 제 20회 브라질 월드컵</li>
				</ul>	
			</ol>
		</p>
	</div>
</aside>
